@font-face {
  font-family: "MyProjectFont";
  src: url("./assets/fonts/BookkGothic_Bold.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MyProjectFont";
  src: url("./assets/fonts/BookkGothic_Light.ttf") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EnglishFont";
  src: url("./assets/fonts/mythical-romance.otf") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
